/* html5doctor reset */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  box-sizing: border-box;
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  box-sizing: border-box;
  vertical-align: middle; }

/* Fireworks */
.fireworks {
  background: transparent;
  height: 100%;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%; }

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@-webkit-keyframes bang {
  to {
    box-shadow: 118px -130.66667px #0026ff, -64px -88.66667px #b300ff, -182px -253.66667px #00ffd9, -217px -304.66667px #4dff00, 81px -264.66667px #006aff, -235px -61.66667px #c8ff00, -139px -169.66667px #00a2ff, 211px -24.66667px #ff0004, 27px -69.66667px #ea00ff, -43px 53.33333px #eaff00, -165px -120.66667px #9d00ff, 136px 72.33333px #00f2ff, 146px -32.66667px #006aff, 133px -158.66667px #a600ff, -183px -240.66667px #ff5e00, -54px -202.66667px #ff0059, -15px -24.66667px #ff0026, 0px -145.66667px #e6ff00, -105px -316.66667px #008cff, 103px -383.66667px #5eff00, 15px -41.66667px #ffbf00, -118px -27.66667px #00a6ff, -103px -16.66667px #0077ff, 221px -245.66667px #fff200, -182px -259.66667px #001aff, 174px -1.66667px #00ffae, 25px 37.33333px #ff0062, -248px -46.66667px #d5ff00, -29px -137.66667px #00ffb3, -93px -199.66667px #00c4ff, -139px -80.66667px yellow, 123px -269.66667px lime, -88px -400.66667px #00ff51, -107px -210.66667px #ff7b00, 236px -385.66667px #9dff00, -237px -83.66667px #00a2ff, -41px 65.33333px #aeff00, 26px -187.66667px #ff004d, -68px 66.33333px #9900ff, 42px -159.66667px #3c00ff, -221px -187.66667px #0077ff, -218px 27.33333px #37ff00, 71px -182.66667px #00ff6f, 183px -306.66667px #8800ff, -173px -174.66667px #26ff00, -169px -381.66667px #fbff00, 85px -129.66667px #9900ff, 110px -139.66667px #e1ff00, 109px 75.33333px #00ff62, -94px -113.66667px #a200ff, 112px -281.66667px #003cff; } }

@-moz-keyframes bang {
  to {
    box-shadow: 118px -130.66667px #0026ff, -64px -88.66667px #b300ff, -182px -253.66667px #00ffd9, -217px -304.66667px #4dff00, 81px -264.66667px #006aff, -235px -61.66667px #c8ff00, -139px -169.66667px #00a2ff, 211px -24.66667px #ff0004, 27px -69.66667px #ea00ff, -43px 53.33333px #eaff00, -165px -120.66667px #9d00ff, 136px 72.33333px #00f2ff, 146px -32.66667px #006aff, 133px -158.66667px #a600ff, -183px -240.66667px #ff5e00, -54px -202.66667px #ff0059, -15px -24.66667px #ff0026, 0px -145.66667px #e6ff00, -105px -316.66667px #008cff, 103px -383.66667px #5eff00, 15px -41.66667px #ffbf00, -118px -27.66667px #00a6ff, -103px -16.66667px #0077ff, 221px -245.66667px #fff200, -182px -259.66667px #001aff, 174px -1.66667px #00ffae, 25px 37.33333px #ff0062, -248px -46.66667px #d5ff00, -29px -137.66667px #00ffb3, -93px -199.66667px #00c4ff, -139px -80.66667px yellow, 123px -269.66667px lime, -88px -400.66667px #00ff51, -107px -210.66667px #ff7b00, 236px -385.66667px #9dff00, -237px -83.66667px #00a2ff, -41px 65.33333px #aeff00, 26px -187.66667px #ff004d, -68px 66.33333px #9900ff, 42px -159.66667px #3c00ff, -221px -187.66667px #0077ff, -218px 27.33333px #37ff00, 71px -182.66667px #00ff6f, 183px -306.66667px #8800ff, -173px -174.66667px #26ff00, -169px -381.66667px #fbff00, 85px -129.66667px #9900ff, 110px -139.66667px #e1ff00, 109px 75.33333px #00ff62, -94px -113.66667px #a200ff, 112px -281.66667px #003cff; } }

@-o-keyframes bang {
  to {
    box-shadow: 118px -130.66667px #0026ff, -64px -88.66667px #b300ff, -182px -253.66667px #00ffd9, -217px -304.66667px #4dff00, 81px -264.66667px #006aff, -235px -61.66667px #c8ff00, -139px -169.66667px #00a2ff, 211px -24.66667px #ff0004, 27px -69.66667px #ea00ff, -43px 53.33333px #eaff00, -165px -120.66667px #9d00ff, 136px 72.33333px #00f2ff, 146px -32.66667px #006aff, 133px -158.66667px #a600ff, -183px -240.66667px #ff5e00, -54px -202.66667px #ff0059, -15px -24.66667px #ff0026, 0px -145.66667px #e6ff00, -105px -316.66667px #008cff, 103px -383.66667px #5eff00, 15px -41.66667px #ffbf00, -118px -27.66667px #00a6ff, -103px -16.66667px #0077ff, 221px -245.66667px #fff200, -182px -259.66667px #001aff, 174px -1.66667px #00ffae, 25px 37.33333px #ff0062, -248px -46.66667px #d5ff00, -29px -137.66667px #00ffb3, -93px -199.66667px #00c4ff, -139px -80.66667px yellow, 123px -269.66667px lime, -88px -400.66667px #00ff51, -107px -210.66667px #ff7b00, 236px -385.66667px #9dff00, -237px -83.66667px #00a2ff, -41px 65.33333px #aeff00, 26px -187.66667px #ff004d, -68px 66.33333px #9900ff, 42px -159.66667px #3c00ff, -221px -187.66667px #0077ff, -218px 27.33333px #37ff00, 71px -182.66667px #00ff6f, 183px -306.66667px #8800ff, -173px -174.66667px #26ff00, -169px -381.66667px #fbff00, 85px -129.66667px #9900ff, 110px -139.66667px #e1ff00, 109px 75.33333px #00ff62, -94px -113.66667px #a200ff, 112px -281.66667px #003cff; } }

@-ms-keyframes bang {
  to {
    box-shadow: 118px -130.66667px #0026ff, -64px -88.66667px #b300ff, -182px -253.66667px #00ffd9, -217px -304.66667px #4dff00, 81px -264.66667px #006aff, -235px -61.66667px #c8ff00, -139px -169.66667px #00a2ff, 211px -24.66667px #ff0004, 27px -69.66667px #ea00ff, -43px 53.33333px #eaff00, -165px -120.66667px #9d00ff, 136px 72.33333px #00f2ff, 146px -32.66667px #006aff, 133px -158.66667px #a600ff, -183px -240.66667px #ff5e00, -54px -202.66667px #ff0059, -15px -24.66667px #ff0026, 0px -145.66667px #e6ff00, -105px -316.66667px #008cff, 103px -383.66667px #5eff00, 15px -41.66667px #ffbf00, -118px -27.66667px #00a6ff, -103px -16.66667px #0077ff, 221px -245.66667px #fff200, -182px -259.66667px #001aff, 174px -1.66667px #00ffae, 25px 37.33333px #ff0062, -248px -46.66667px #d5ff00, -29px -137.66667px #00ffb3, -93px -199.66667px #00c4ff, -139px -80.66667px yellow, 123px -269.66667px lime, -88px -400.66667px #00ff51, -107px -210.66667px #ff7b00, 236px -385.66667px #9dff00, -237px -83.66667px #00a2ff, -41px 65.33333px #aeff00, 26px -187.66667px #ff004d, -68px 66.33333px #9900ff, 42px -159.66667px #3c00ff, -221px -187.66667px #0077ff, -218px 27.33333px #37ff00, 71px -182.66667px #00ff6f, 183px -306.66667px #8800ff, -173px -174.66667px #26ff00, -169px -381.66667px #fbff00, 85px -129.66667px #9900ff, 110px -139.66667px #e1ff00, 109px 75.33333px #00ff62, -94px -113.66667px #a200ff, 112px -281.66667px #003cff; } }

@keyframes bang {
  to {
    box-shadow: 118px -130.66667px #0026ff, -64px -88.66667px #b300ff, -182px -253.66667px #00ffd9, -217px -304.66667px #4dff00, 81px -264.66667px #006aff, -235px -61.66667px #c8ff00, -139px -169.66667px #00a2ff, 211px -24.66667px #ff0004, 27px -69.66667px #ea00ff, -43px 53.33333px #eaff00, -165px -120.66667px #9d00ff, 136px 72.33333px #00f2ff, 146px -32.66667px #006aff, 133px -158.66667px #a600ff, -183px -240.66667px #ff5e00, -54px -202.66667px #ff0059, -15px -24.66667px #ff0026, 0px -145.66667px #e6ff00, -105px -316.66667px #008cff, 103px -383.66667px #5eff00, 15px -41.66667px #ffbf00, -118px -27.66667px #00a6ff, -103px -16.66667px #0077ff, 221px -245.66667px #fff200, -182px -259.66667px #001aff, 174px -1.66667px #00ffae, 25px 37.33333px #ff0062, -248px -46.66667px #d5ff00, -29px -137.66667px #00ffb3, -93px -199.66667px #00c4ff, -139px -80.66667px yellow, 123px -269.66667px lime, -88px -400.66667px #00ff51, -107px -210.66667px #ff7b00, 236px -385.66667px #9dff00, -237px -83.66667px #00a2ff, -41px 65.33333px #aeff00, 26px -187.66667px #ff004d, -68px 66.33333px #9900ff, 42px -159.66667px #3c00ff, -221px -187.66667px #0077ff, -218px 27.33333px #37ff00, 71px -182.66667px #00ff6f, 183px -306.66667px #8800ff, -173px -174.66667px #26ff00, -169px -381.66667px #fbff00, 85px -129.66667px #9900ff, 110px -139.66667px #e1ff00, 109px 75.33333px #00ff62, -94px -113.66667px #a200ff, 112px -281.66667px #003cff; } }

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

/* variables */
.color-error {
  color: #E24E28; }

.color-success {
  color: #2C689B; }

.color-warning {
  color: #E8E24C; }

.color-one {
  color: #2C689B; }

.color-two {
  color: #7CC3FF; }

.color-three {
  color: #5AA6E8; }

.color-four {
  color: #9B6A1D; }

.color-five {
  color: #E8B15A; }

/* generic */
/* alignment */
.acenter {
  text-align: center; }

.aleft {
  text-align: left; }

.aright {
  text-align: right; }

/* floating */
.fleft {
  float: left; }

.fright {
  float: right; }

/* types */
.link {
  cursor: pointer;
  color: #2C689B; }

.bold {
  font-weight: bold; }

p {
  margin: 5px 0; }

i.far, i.fas {
  cursor: pointer; }

dl {
  margin: 5px 0; }
  dl dt {
    background-color: #2C689B;
    border: 1px solid black;
    color: #E8B15A;
    cursor: pointer;
    font-weight: bold;
    padding: 5px; }
  dl dd {
    border: 1px solid black;
    border-top: 0;
    padding: 5px;
    margin: 0 0 10px 10px; }

dl.select dt {
  cursor: pointer; }

table {
  width: 100%; }
  table thead tr {
    background-color: #5AA6E8;
    border: 1px solid black; }
  table tbody tr {
    background-color: #7CC3FF;
    border: 1px solid black;
    border-top: 0; }
  table tbody tr:nth-child(odd) {
    background-color: #ffffff; }
  table td, table th {
    font-weight: 300;
    max-width: 0;
    overflow: hidden;
    padding: 3px 5px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap; }
  table td.check, table th.check {
    padding: 0;
    text-align: center;
    width: 22px; }

div.form {
  margin: 10px 0; }
  div.form input[type=text], div.form input[type=password], div.form select, div.form textarea {
    box-sizing: border-box;
    width: 100%; }
  div.form input.error::placeholder {
    color: white; }
  div.form input.error, div.form select.error, div.form textarea.error {
    background-color: #E24E28;
    border-color: red;
    color: white; }
  div.form textarea.error::placeholder {
    color: white; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 6px 20px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  font: bold 13px arial, helvetica, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: #2C689B;
  background-color: #E8B15A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top, white, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(top, white, rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(top, white, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(top, white, rgba(255, 255, 255, 0));
  background-image: linear-gradient(top, white, rgba(255, 255, 255, 0));
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -ms-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  background-clip: padding-box;
  /* Fix bleeding */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(155, 107, 29, 0.3) inset;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(155, 107, 29, 0.3) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(155, 107, 29, 0.3) inset;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

button:hover {
  background-color: #eee;
  color: #555; }

button:active {
  background: #e9e9e9;
  position: relative;
  top: 1px;
  text-shadow: none;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset; }

button[disabled], .button[disabled]:hover, .button[disabled]:active {
  border-color: #eaeaea;
  background: #fafafa;
  cursor: default;
  position: static;
  color: #999;
  /* Usually, !important should be avoided but here it's really needed :) */
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  text-shadow: none !important; }

/* Smaller buttons styles */
button.small {
  padding: 4px 12px; }

/* Larger buttons styles */
button.large {
  padding: 12px 30px;
  text-transform: uppercase; }

button.large:active {
  top: 2px; }

/* Group buttons */
.button-group,
.button-group li {
  display: inline-block;
  *display: inline;
  zoom: 1; }

.button-group {
  font-size: 0;
  /* Inline block elements gap - fix */
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px; }

.button-group li {
  margin-right: -1px;
  /* Overlap each right button border */ }

.button-group .button {
  font-size: 13px;
  /* Set the font size, different from inherited 0 */
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }

.button-group .button:active {
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset, 5px 0 5px -3px rgba(0, 0, 0, 0.2) inset, -5px 0 5px -3px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset, 5px 0 5px -3px rgba(0, 0, 0, 0.2) inset, -5px 0 5px -3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset, 5px 0 5px -3px rgba(0, 0, 0, 0.2) inset, -5px 0 5px -3px rgba(0, 0, 0, 0.2) inset; }

.button-group li:first-child .button {
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px; }

.button-group li:first-child .button:active {
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset, -5px 0 5px -3px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset, -5px 0 5px -3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset, -5px 0 5px -3px rgba(0, 0, 0, 0.2) inset; }

.button-group li:last-child .button {
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0; }

.button-group li:last-child .button:active {
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset, 5px 0 5px -3px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset, 5px 0 5px -3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset, 5px 0 5px -3px rgba(0, 0, 0, 0.2) inset; }

/* elements */
#loader {
  background-color: rgba(0, 0, 0, 0.33);
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  z-index: 40; }
  #loader div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    #loader div div {
      margin: 0 auto;
      text-align: center; }

#messages {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  z-index: 10; }
  #messages div.message {
    border: 3px solid black;
    background-color: #fff;
    padding: 10px;
    margin: 5px 5px 0; }
    #messages div.message div.buttons {
      text-align: right; }
      #messages div.message div.buttons button {
        margin-left: 15px; }

.modal {
  background-color: rgba(10, 10, 10, 0.33);
  height: 100%;
  left: 0;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20; }
  .modal .cell {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .modal .cell .container {
      border: 1px solid black;
      border-radius: 0 0 5px 5px;
      box-shadow: 0 10px 38px 0 #111;
      display: flex;
      flex-direction: column;
      max-width: 95%;
      max-height: 95%;
      margin: 0;
      overflow: hidden;
      padding: 0;
      position: relative; }
      .modal .cell .container .header {
        background-color: #2C689B;
        color: #E8B15A;
        margin: 0px;
        padding: 10px; }
        .modal .cell .container .header span {
          font-weight: 600; }
        .modal .cell .container .header i {
          position: absolute;
          right: 7px;
          top: 7px; }
      .modal .cell .container .content {
        background-color: white;
        border-top: 1px black solid;
        border-bottom: 1px black solid;
        color: #000;
        flex-grow: 1;
        margin: 0;
        overflow: auto;
        padding: 10px; }
      .modal .cell .container .footer {
        background-color: #cecece;
        padding: 5px;
        text-align: right; }
        .modal .cell .container .footer button {
          margin-left: 10px; }

#popups {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  max-width: 400px;
  width: 100%;
  z-index: 30; }
  #popups div {
    border: 3px solid black;
    border-radius: 15px;
    background-color: #fff;
    font-weight: bold;
    padding: 10px;
    margin: 5px 5px 0;
    text-align: center; }
    #popups div i {
      float: left; }
  #popups div.error {
    border-color: #E24E28;
    color: #E24E28; }
  #popups div.success {
    border-color: #2C689B;
    color: #2C689B; }
  #popups div.warning {
    border-color: #E8E24C;
    color: #E8E24C; }

/* natf */
#practice .natf {
  margin: 0 auto;
  width: 304px; }
  #practice .natf div.aright {
    margin-top: 5px; }
    #practice .natf div.aright i {
      color: #2C689B; }
  #practice .natf dl.select dt i {
    margin-left: 10px; }
  #practice .natf div.bigaxe {
    background-color: blue;
    border: 1px solid blue;
    color: white;
    display: inline-block;
    margin-top: 5px;
    padding: 6px 0 4px;
    position: relative;
    text-align: center;
    top: -30px;
    width: 50px;
    vertical-align: top; }
  #practice .natf div.bigaxe.on {
    background-color: white;
    color: blue; }
  #practice .natf div.pattern div.throw {
    border: 1px solid #2C689B;
    padding: 5px;
    margin-bottom: 5px; }
    #practice .natf div.pattern div.throw span {
      display: inline-block;
      width: 80px; }
    #practice .natf div.pattern div.throw input[type=radio] {
      vertical-align: bottom;
      height: 16px; }
  #practice .natf .points {
    border: 2px solid black;
    margin: 5px 0; }
    #practice .natf .points .last {
      cursor: pointer; }
    #practice .natf .points .overwrite {
      background-color: red;
      color: white; }
  #practice .natf .allPoints {
    width: 300px; }
  #practice .natf .averages {
    margin: 10px 0 0 0; }
  #practice .natf .reset, #practice .natf .save {
    cursor: pointer; }

#stats .natf {
  margin: 0 auto;
  overflow: auto;
  padding: 5px 0;
  width: 95%; }
  #stats .natf .throws {
    margin: 10px auto;
    text-align: center; }
    #stats .natf .throws div {
      display: inline-block;
      font-size: 120%;
      width: 50%; }
  #stats .natf .bigaxe {
    margin: 10px auto;
    text-align: center; }
    #stats .natf .bigaxe div {
      display: inline-block;
      font-size: 120%;
      width: 33%; }
  #stats .natf .practice {
    overflow: auto; }
    #stats .natf .practice .allPoints {
      width: 300px; }
  #stats .natf .match .mwl {
    margin: 10px auto 0;
    text-align: center; }
    #stats .natf .match .mwl div {
      display: inline-block;
      font-size: 150%;
      width: 30%; }
    #stats .natf .match .mwl div.win {
      color: green; }
    #stats .natf .match .mwl div.loss {
      color: red; }
  #stats .natf .match .esnu {
    margin: 10px auto;
    text-align: center; }
    #stats .natf .match .esnu div {
      display: inline-block;
      font-size: 120%;
      text-align: left;
      width: 23%; }

#match .natf {
  margin: 0 auto;
  padding: 5px 0;
  width: 95%; }
  #match .natf .existing {
    border: 1px solid #2C689B;
    margin: 5px 10px;
    padding: 10px; }
    #match .natf .existing button {
      margin: 0 5px; }
  #match .natf .actual .stats {
    margin: 10px 0; }
    #match .natf .actual .stats .overall {
      display: inline-block;
      padding: 5px;
      vertical-align: top;
      width: 50%; }
    #match .natf .actual .stats .game, #match .natf .actual .stats .bigaxe {
      display: inline-block;
      padding: 5px;
      text-align: center;
      vertical-align: top;
      width: 50%; }
    #match .natf .actual .stats table {
      margin-bottom: 10px; }
      #match .natf .actual .stats table th, #match .natf .actual .stats table td {
        text-align: center; }
      #match .natf .actual .stats table th:first-child, #match .natf .actual .stats table td:first-child {
        border-right: 1px solid black;
        width: 20%; }
      #match .natf .actual .stats table td.clutch {
        background-color: green;
        color: white; }
      #match .natf .actual .stats table td.overwrite {
        background-color: red;
        color: white; }

.natf .board {
  background-color: white;
  height: 350px;
  margin: 0 auto;
  width: 300px; }
  .natf .board .clutch {
    background-color: green;
    border: 5px solid green;
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    width: 40px; }
  .natf .board .clutch.left {
    margin: 5px 55px 0px 20px; }
  .natf .board .clutch.right {
    margin: 5px 20px 0px 55px; }
  .natf .board .clutch.selected {
    border: 5px solid black; }
  .natf .board .clutch.invalid {
    border: 5px solid red; }
  .natf .board .drop {
    background-color: grey;
    border: 1px solid grey;
    color: white;
    display: inline-block;
    margin-top: 5px;
    padding: 6px 0 4px 0;
    position: relative;
    text-align: center;
    width: 70px;
    vertical-align: top; }
  .natf .board .drop.active {
    background-color: white;
    border: 1px solid black;
    color: grey; }
  .natf .board .one {
    background-color: white;
    border: 5px solid blue;
    border-radius: 50%;
    height: 300px;
    position: relative;
    width: 300px; }
  .natf .board .one.active {
    background-color: blue; }
  .natf .board .three {
    background-color: white;
    border: 5px solid red;
    border-radius: 50%;
    height: 68%;
    left: 16%;
    position: relative;
    top: 16%;
    width: 68%; }
  .natf .board .three.active {
    background-color: red; }
  .natf .board .five {
    background-color: white;
    border: 5px solid black;
    border-radius: 50%;
    height: 46%;
    left: 27%;
    position: relative;
    top: 27%;
    width: 46%; }
  .natf .board .five.active {
    background-color: black; }

.natf .board.active {
  background-color: grey; }

.natf .points span, .natf .allPoints span {
  display: inline-block;
  padding: 3px 0;
  text-align: center;
  width: 30px; }

.natf .points span.clutch, .natf .allPoints span.clutch {
  background-color: green;
  color: white; }

.natf .points span.bigaxe, .natf .allPoints span.bigaxe {
  background-color: blue;
  color: white; }

.natf .points span.bigaxe.clutch, .natf .allPoints span.bigaxe.clutch {
  background-color: #00cccc; }

/* watl */
#practice .watl {
  margin: 0 auto;
  width: 304px; }
  #practice .watl div.aright {
    margin-top: 5px; }
    #practice .watl div.aright i {
      color: #2C689B; }
  #practice .watl dl.select dt i {
    margin-left: 10px; }
  #practice .watl div.pattern div.throw {
    border: 1px solid #2C689B;
    padding: 5px;
    margin-bottom: 5px; }
    #practice .watl div.pattern div.throw span {
      display: inline-block;
      width: 80px; }
    #practice .watl div.pattern div.throw input[type=radio] {
      vertical-align: bottom;
      height: 16px; }
  #practice .watl .points {
    border: 2px solid black;
    margin: 5px 0; }
    #practice .watl .points .last {
      cursor: pointer; }
    #practice .watl .points .overwrite {
      background-color: red;
      color: white; }
  #practice .watl .allPoints {
    width: 300px; }
  #practice .watl .averages {
    margin: 10px 0 0 0; }
  #practice .watl .reset, #practice .watl .save {
    cursor: pointer; }

#stats .watl {
  margin: 0 auto;
  overflow: auto;
  padding: 5px 0;
  width: 95%; }
  #stats .watl .throws {
    margin: 10px auto;
    text-align: center; }
    #stats .watl .throws div {
      display: inline-block;
      font-size: 120%;
      width: 33%; }
  #stats .watl .practice {
    overflow: auto; }
    #stats .watl .practice .allPoints {
      width: 300px; }

.watl .board {
  background-color: white;
  height: 350px;
  margin: 0 auto;
  width: 300px; }
  .watl .board .killshot {
    background-color: blue;
    border: 5px solid blue;
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    position: absolute;
    top: 38px;
    width: 30px; }
  .watl .board .killshot.left {
    left: 38px; }
  .watl .board .killshot.right {
    right: 38px; }
  .watl .board .killshot.selected {
    border: 5px solid black; }
  .watl .board .killshot.invalid {
    border: 5px solid red; }
  .watl .board .drop {
    background-color: grey;
    border: 1px solid grey;
    color: white;
    display: inline-block;
    margin: 5px 115px 10px 115px;
    padding: 6px 0 4px 0;
    position: relative;
    text-align: center;
    width: 70px;
    vertical-align: top; }
  .watl .board .drop.active {
    background-color: white;
    border: 1px solid black;
    color: grey; }
  .watl .board .one {
    background-color: white;
    border: 5px solid black;
    border-radius: 50%;
    height: 300px;
    position: relative;
    width: 300px; }
  .watl .board .one.active {
    background-color: black; }
  .watl .board .two {
    background-color: white;
    border: 5px solid black;
    border-radius: 50%;
    height: 80%;
    left: 10%;
    position: relative;
    top: 10%;
    width: 80%; }
  .watl .board .two.active {
    background-color: black; }
  .watl .board .three {
    background-color: white;
    border: 5px solid black;
    border-radius: 50%;
    height: 74%;
    left: 13%;
    position: relative;
    top: 13%;
    width: 74%; }
  .watl .board .three.active {
    background-color: black; }
  .watl .board .four {
    background-color: white;
    border: 5px solid black;
    border-radius: 50%;
    height: 62%;
    left: 19%;
    position: relative;
    top: 19%;
    width: 62%; }
  .watl .board .four.active {
    background-color: black; }
  .watl .board .six {
    background-color: red;
    border: 5px solid red;
    border-radius: 50%;
    height: 40%;
    left: 30%;
    position: relative;
    top: 30%;
    width: 40%; }
  .watl .board .six.active {
    background-color: white; }

.watl .board.active {
  background-color: grey; }

.watl .points span, .watl .allPoints span {
  display: inline-block;
  padding: 3px 0;
  text-align: center;
  width: 30px; }

.watl .points span.killshot, .watl .allPoints span.killshot {
  background-color: blue;
  color: white; }

/* site */
html, body {
  height: 100%;
  width: 100%; }

header {
  background: #2C689B;
  color: #E8B15A;
  padding: 8px; }
  header h1 {
    font-size: 150%; }
  header .actions i {
    margin-left: 10px;
    margin-bottom: 10px; }

#signin {
  background-color: #7CC3FF;
  border: 2px solid #2C689B;
  padding: 10px;
  position: absolute;
  right: 4px;
  top: 30px;
  width: 250px;
  z-index: 1; }

#signup {
  background-color: #7CC3FF;
  border: 2px solid #2C689B;
  padding: 10px;
  position: absolute;
  right: 32px;
  top: 30px;
  width: 250px;
  z-index: 1; }

.menu {
  margin: 0;
  text-align: center;
  width: 100%; }
  .menu span {
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    margin: 3px 5px;
    padding: 3px 7px; }
  .menu span:hover {
    padding: 5px; }
  .menu span.active {
    font-weight: 600;
    padding: 5px; }

.menu.primary {
  background-color: #7CC3FF;
  color: #172A3B; }
  .menu.primary span:hover {
    border-left: 2px solid #E8B15A;
    border-right: 2px solid #E8B15A; }
  .menu.primary span.active {
    border-left: 2px solid #9B6A1D;
    border-right: 2px solid #9B6A1D; }

.menu.secondary {
  background-color: #2C689B;
  color: #E8B15A; }
  .menu.secondary span:hover {
    border-left: 2px solid #9B6A1D;
    border-right: 2px solid #9B6A1D; }
  .menu.secondary span.active {
    border-left: 2px solid #E8B15A;
    border-right: 2px solid #E8B15A; }

#content {
  position: relative;
  width: 100%; }
  #content > div {
    margin: 0 auto; }
  #content .overlay {
    background-color: rgba(0, 0, 0, 0.33);
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 40; }
    #content .overlay div {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      #content .overlay div span {
        background-color: white;
        border: 2px solid black;
        border-radius: 20px;
        color: black;
        margin: -30px auto 0;
        padding: 10px 20px;
        text-align: center; }
      #content .overlay div span.winner {
        color: green;
        font-weight: bold;
        font-size: 150%; }
      #content .overlay div span.loser {
        color: red;
        font-weight: bold; }

#home {
  margin: 10px auto;
  width: 80%; }
