/* alignment */
.acenter {text-align: center;}
.aleft {text-align: left;}
.aright {text-align: right;}

/* floating */
.fleft {float: left;}
.fright {float: right;}

/* types */
.link {
	cursor: pointer;
	color: $color-1;
}

i.far, i.fas {
	cursor: pointer;
}

dl.select {
	margin: 5px 0;

	dt {
		background-color: $color-1;
		border: 1px solid black;
		color: $color-5;
		cursor: pointer;
		font-weight: bold;
		padding: 5px;
	}

	dd {
		border: 1px solid black;
		border-top: 0;
		padding: 5px;
		margin: 0 0 10px 10px;
	}
}

table {
	width: 100%;

	thead {

		tr {
			background-color: $color-3;
			border: 1px solid black;
		}
	}

	tbody {

		tr {
			background-color: $color-2;
			border-bottom: 1px solid black;
		}

		tr:nth-child(odd) {
			background-color: #ffffff;
		}
	}

	td, th {
		font-weight: 300;
		max-width: 0;
		overflow: hidden;
		padding: 3px 5px;
		text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	td.check, th.check {
		padding: 0;
		text-align: center;
		width: 22px;
	}
}

div.form {

	input[type=text], input[type=password], select, textarea {
		width: 100%;
	}

	input.error::placeholder {
		color: white;
	}

	input.error, select.error {
		background-color: $color-error;
		border-color: red;
		color: white;
	}
}

@import 'buttons';
