#practice {

	.natf {
		margin: 0 auto;
		width: 304px;

		div.aright {
			margin-top: 5px;

			i {
				color: $color-1;
			}
		}

		dl.select {
			i {
				margin-left: 10px;
			}
		}

		div.bigaxe {
			background-color: blue;
			border: 1px solid blue;
			color: white;
			display: inline-block;
			margin-top: 5px;
			padding: 6px 0 4px;
			position: relative;
			text-align: center;
			top: -30px;
			width: 50px;
			vertical-align: top;
		}

		div.bigaxe.on {
			background-color: white;
			color: blue;
		}

		div.pattern {

			div.throw {
				border: 1px solid $color-1;
				padding: 5px;
				margin-bottom: 5px;

				span {
					display: inline-block;
					width: 80px;
				}

				input[type=radio] {
					vertical-align: bottom;
					height: 16px;
				}
			}
		}

		.points {
			border: 2px solid black;
			margin: 5px 0;

			.last {
				cursor: pointer;
			}

			.overwrite {
				background-color: red;
				color: white;
			}
		}

		.allPoints {
			width: 300px;
		}

		.averages {
			margin: 10px 0 0 0;
		}

		.reset, .save {
			cursor: pointer;
		}
	}
}

#stats {

	.natf {
		margin: 0 auto;
		overflow: auto;
		padding: 5px 0;
		width: 95%;

		.throws {
			margin: 10px auto;
			text-align: center;

			div {
				display: inline-block;
				font-size: 120%;
				width: 50%;
			}
		}

		.bigaxe {
			margin: 10px auto;
			text-align: center;

			div {
				display: inline-block;
				font-size: 120%;
				width: 33%;
			}
		}

		.practice {
			overflow: auto;

			table {
				width: 630px;

				th.date {
					width: 100px
				}

				th.points, th.throws, th.drops {
					width: 60px;
				}

				th.average {
					width: 70px;
				}

				th.rate {
					width: 70px;
				}

				tr.session {
					cursor: pointer;
				}
			}

			.allPoints {
				width: 300px;
			}
		}

		.match {

			.mwl {
				margin: 10px auto 0;
				text-align: center;

				div {
					display: inline-block;
					font-size: 150%;
					width: 30%;
				}

				div.win {
					color: green;
				}

				div.loss {
					color: red;
				}
			}

			.esnu {
				margin: 10px auto;
				text-align: center;

				div {
					display: inline-block;
					font-size: 120%;
					text-align: left;
					width: 23%;
				}
			}
		}
	}
}

#match {

	.natf {
		margin: 0 auto;
		padding: 5px 0;
		width: 95%;

		.existing {
			border: 1px solid $color-1;
			margin: 5px 10px;
			padding: 10px;

			button {
				margin: 0 5px;
			}
		}

		.actual {

			.stats {
				margin: 10px 0;

				.overall {
					display: inline-block;
					padding: 5px;
					vertical-align: top;
					width: 50%;
				}

				.game, .bigaxe {
					display: inline-block;
					padding: 5px;
					text-align: center;
					vertical-align: top;
					width: 50%;
				}

				table {
					margin-bottom: 10px;

					th, td {
						text-align: center;
					}

					th:first-child, td:first-child {
						border-right: 1px solid black;
						width: 20%;
					}

					td.clutch {
						background-color: green;
						color: white;
					}

					td.overwrite {
						background-color: red;
						color: white;
					}
				}
			}
		}
	}
}

.natf {

	.board {
		background-color: white;
		height: 350px;
		margin: 0 auto;
		width: 300px;

		.clutch {
			background-color: green;
			border: 5px solid green;
			border-radius: 50%;
			display: inline-block;
			height: 40px;
			width: 40px;
		}

		.clutch.left {
			margin: 5px 55px 0px 20px;
		}

		.clutch.right {
			margin: 5px 20px 0px 55px;
		}

		.clutch.selected {
			border: 5px solid black;
		}

		.clutch.invalid {
			border: 5px solid red;
		}

		.drop {
			background-color: grey;
			border: 1px solid grey;
			color: white;
			display: inline-block;
			margin-top: 5px;
			padding: 6px 0 4px 0;
			position: relative;
			text-align: center;
			width: 70px;
			vertical-align: top;
		}

		.drop.active {
			background-color: white;
			border: 1px solid black;
			color: grey;
		}

		.one {
			background-color: white;
			border: 5px solid blue;
			border-radius: 50%;
			height: 300px;
			position: relative;
			width: 300px;
		}

		.one.active {
			background-color: blue;
		}

		.three {
			background-color: white;
			border: 5px solid red;
			border-radius: 50%;
			height: 68%;
			left: 16%;
			position: relative;
			top: 16%;
			width: 68%;
		}

		.three.active {
			background-color: red;
		}

		.five {
			background-color: white;
			border: 5px solid black;
			border-radius: 50%;
			height: 46%;
			left: 27%;
			position: relative;
			top: 27%;
			width: 46%;
		}

		.five.active {
			background-color: black;
		}
	}

	.board.active {
		background-color: grey;
	}

	.points, .allPoints {

		span {
			display: inline-block;
			padding: 3px 0;
			text-align: center;
			width: 30px;
		}

		span.clutch {
			background-color: green;
			color: white;
		}

		span.bigaxe {
			background-color: blue;
			color: white;
		}

		span.bigaxe.clutch {
			background-color: #00cccc;
		}
	}
}
