#practice {

	.natf {

		margin: 0 auto;
		width: 304px;

		.points {
			border: 2px solid black;
			margin: 5px 0;

			.last {
				cursor: pointer;
			}

			.overwrite {
				background-color: red;
				color: white;
			}
		}

		.allPoints {
			width: 300px;
		}

		.averages {
			margin: 10px 0 0 0;
		}

		.reset, .save {
			cursor: pointer;
		}
	}
}

#stats {

	.natf {
		margin: 5px auto;
		overflow: auto;
		width: 95%;

		table {
			width: 630px;

			th.date {
				width: 100px
			}

			th.points, th.throws, th.drops {
				width: 60px;
			}

			th.average {
				width: 70px;
			}

			th.rate {
				width: 70px;
			}

			tr.session {
				cursor: pointer;
			}
		}

		.allPoints {
			width: 300px;
		}
	}
}

#match {

	.natf {
		margin: 5px auto;
		width: 95%;

		.existing {
			border: 1px solid $color-1;
			margin: 0 0 10px 0;
			padding: 10px;

			button {
				margin: 0 5px;
			}
		}

		.stats {
			margin: 10px 0;

			.overall {
				display: inline-block;
				padding: 5px;
				vertical-align: top;
				width: 50%;
			}

			.game {
				display: inline-block;
				padding: 5px;
				vertical-align: top;
				width: 50%;
			}

			table {
				th, td {
					text-align: center;
				}

				th:first-child, td:first-child {
					border-right: 1px solid black;
					width: 20%;
				}

				td.overwrite {
					background-color: red;
					color: white;
				}
			}
		}
	}
}

.natf {

	.board {
		background-color: white;
		height: 350px;
		margin: 0 auto;
		width: 300px;

		.clutch {
			background-color: green;
			border: 5px solid green;
			border-radius: 50%;
			display: inline-block;
			height: 40px;
			width: 40px;
		}

		.clutch.left {
			margin: 5px 55px 0px 20px;
		}

		.clutch.right {
			margin: 5px 20px 0px 55px;
		}

		.clutch.selected {
			border: 5px solid black;
		}

		.clutch.invalid {
			border: 5px solid red;
		}

		.drop {
			background-color: grey;
			border: 1px solid grey;
			color: white;
			display: inline-block;
			margin-top: 5px;
			padding: 6px 0 4px 0;
			position: relative;
			text-align: center;
			width: 70px;
			vertical-align: top;
		}

		.drop.active {
			background-color: white;
			border: 1px solid black;
			color: grey;
		}

		.one {
			background-color: white;
			border: 5px solid blue;
			border-radius: 50%;
			height: 300px;
			position: relative;
			width: 300px;
		}

		.one.active {
			background-color: blue;
		}

		.three {
			background-color: white;
			border: 5px solid red;
			border-radius: 50%;
			height: 68%;
			left: 16%;
			position: relative;
			top: 16%;
			width: 68%;
		}

		.three.active {
			background-color: red;
		}

		.five {
			background-color: white;
			border: 5px solid black;
			border-radius: 50%;
			height: 46%;
			left: 27%;
			position: relative;
			top: 27%;
			width: 46%;
		}

		.five.active {
			background-color: black;
		}
	}

	.board.active {
		background-color: grey;
	}

	.points, .allPoints {

		span {
			display: inline-block;
			padding: 3px 0;
			text-align: center;
			width: 30px;
		}

		span.clutch {
			background-color: green;
			color: white;
		}
	}
}
