html, body {
	//font-family: Helvetica;
	height: 100%;
	width: 100%;
}

header {
	background: $color-1;
	color: $color-5;
	padding: 8px;

	h1 {
		font-size: 150%;
	}

	.actions {
		i {
			margin-left: 10px;
			margin-bottom: 10px;
		}
	}
}

#signin {
	background-color: $color-2;
	border: 2px solid $color-1;
	padding: 10px;
	position: absolute;
	right: 4px;
	top: 30px;
	width: 250px;
	z-index: 10;
}

#signup {
	background-color: $color-2;
	border: 2px solid $color-1;
	padding: 10px;
	position: absolute;
	right: 32px;
	top: 30px;
	width: 250px;
	z-index: 10;
}

.menu {
	margin: 0;
	text-align: center;
	width: 100%;

	span {
		cursor: pointer;
		display: inline-block;
		border-radius: 10px;
		margin: 3px 5px;
		padding: 3px 7px;
	}

	span:hover {
		padding: 5px;
	}

	span.active {
		font-weight: 600;
		padding: 5px;
	}
}

.menu.primary {
	background-color: $color-2;
	color: $color-dark-text;

	span:hover {
		border-left: 2px solid $color-5;
		border-right: 2px solid $color-5;
	}

	span.active {
		border-left: 2px solid $color-4;
		border-right: 2px solid $color-4;
	}
}

.menu.secondary {
	background-color: $color-1;
	color: $color-5;

	span:hover {
		border-left: 2px solid $color-4;
		border-right: 2px solid $color-4;
	}

	span.active {
		border-left: 2px solid $color-5;
		border-right: 2px solid $color-5;
	}
}

#content {
	width: 100%;

	> div {
		margin: 0 auto;
	}
}
