boto3==1.4.7
botocore==1.7.9
bottle==0.12.8
format-oc==1.3.3cd
futures==3.1.1
gevent==1.2.2
gevent-websocket==0.10.1
gunicorn==19.7.1
hiredis==0.2.0
Pillow==3.1.1
redis==2.10.5
requests==2.18.1
rethinkdb==2.3.0.post6
